body {
  margin: 0;
  padding: 10px;
  /*
  width: 90vw;
  height:90vh;
  */
  background-color:#f1bc6a;
  display:flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  display: inline;
}

#leftSuperior {
  display: flex;
  max-height: 40vh;
  justify-content: space-between;
  padding-right: 30px;
}

#drawButtons {
  display: flex;
}

#leftCanvas {
  max-height: 60vh;
  max-width:75vw;
  overflow: scroll;
  position: relative;
}

#left {
  max-width: 75vw;
}

#colorCanvas {
  border:1px solid #000000;
  
  top: 0;
  left: 0;
}

#mapCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#topCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#gridCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#right {
  max-height: 70vh;
  max-width: 20vw;
  
}

#rightCanvas {
  overflow: scroll;
  position: relative;
}

#tileCanvas {
  border:1px solid #000000;
  overflow: scroll;
  
  top: 0;
  left: 0;
}

#tileGridCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#drawButtons {
  padding-top: 50px;
  padding-bottom: 20px;
}

#sizeInputs {
  padding-bottom: 20px;
}

#mapCanvasW, #mapCanvasH {
  width: 48px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}