body {
  margin: 0;
  padding: 10px;
  /*
  width: 90vw;
  height:90vh;
  */
  background-color:#f1bc6a;
  display:flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  display: inline;
}

#esquerdaSuperior {
  display: flex;
  max-height: 40vh;
  justify-content: space-between;
  padding-right: 30px;
}

#drawButtons {
  display: flex;
}

#esquerdaCanvas {
  max-height: 60vh;
  max-width:75vw;
  overflow: scroll;
  position: relative;
}

#esquerda {
  max-width: 75vw;
}

#mapCanvas {
  border:1px solid #000000;
  
  top: 0;
  left: 0;
}

#topCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#gridCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#direita {
  max-height: 70vh;
  max-width: 20vw;
  
}

#direitaCanvas {
  overflow: scroll;
  position: relative;
}

#tileCanvas {
  border:1px solid #000000;
  overflow: scroll;
  
  top: 0;
  left: 0;
}

#tileGridCanvas {
  border:1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

#drawButtons {
  padding-top: 50px;
  padding-bottom: 20px;
}

#sizeInputs {
  padding-bottom: 20px;
}

#mapCanvasW, #mapCanvasH {
  width: 48px;
}